[Unit]
Description=Kovan Serial Daemon
After=local-fs.target

[Service]
ExecStart=/usr/sbin/kovan-serial
Restart=on-failure

[Install]
WantedBy=multi-user.target
