[Unit]
Description=kovan
After=local-fs.target
Requires=silvermoon-fpga

[Service]
Type=singleshot
ExecStart=/sbin/modprobe kovan
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target